* {
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    padding: 0px;
}

.title {
    display: flex;
    font-size: 75px;
    justify-content: center;
    padding: 20px;
}

.header {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    gap: 200px
}

#popup {
    border: none;
    background-color: rgb(248, 210, 140);
    color: rgb(211, 130, 0);
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

#popup:hover {
    background-color: rgb(247, 199, 110);
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.footer button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.footer button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.footer #black {
    background-image: linear-gradient(to right, rgb(148, 148, 148) 0%,
    rgb(104, 102, 102) 51%, rgb(139, 139, 139) 100%);
    color: white;
}

.footer #random {
    background-image: linear-gradient(to right, #f6d365 0%,
    #fda085 51%, #f6d365 100%);
    color: white;
}

.footer #reset {
    background-color: white;
}

