* {
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    padding: 0px;
}

.title {
    display: flex;
    font-size: 75px;
    justify-content: center;
    padding: 20px;
}

.header {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    gap: 200px
}

#popup {
    border: none;
    background-color: rgb(248, 210, 140);
    color: rgb(211, 130, 0);
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

#popup:hover {
    background-color: rgb(247, 199, 110);
}